@import '../constants/colors.scss';

.side-nav-wrapper {
  background-color: $side-nav-bg;
  text-align: center;
  color: $side-nav-text;
  width: 10rem;
  height: 100%;

  .side-nav-item-wrapper {
    padding: 1rem;
    transition: opacity 0.2s;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    div {
      height: 3rem;
      width: 3rem;
      border-radius: 1.5rem;
      margin: auto;
      margin-bottom: 0.5rem;

      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .selected-wrapper {
    border-right: 2px solid $primary-color;
  }

  .selected-avatar {
    border: 2px solid $primary-color;
  }

  .selected-text {
    color: $primary-color;
    font-weight: bold;
  }
}
